@charset "utf-8";
@import url("normalize.css");
/* 全体のスタイル調整 */
*, *::before, *::after {
  box-sizing: border-box;
}
/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.875;
  font-family: 'neue-haas-grotesk-display',source-han-sans-japanese, sans-serif;
  color: #3B4043;
  background-color: #fff;
}
/* 初期スタイル調整 */
h1, h2, h3 {
  margin-top: 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
  line-height: 1.4;
}
h3 {
  font-size: 24px;
  line-height: 1.5;
}
p {
  margin: 0;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #3B4043;
  transition: .3s;
}
a:hover {
  opacity: 0.4;
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
figure {
  margin: 0;
  padding: 0;
}
::placeholder {
  color: #CDD6DD;
}
@media screen and (min-width:768px) {
  h1 {
    font-size: 36px;
    line-height: 1.3333;
  }
  h2 {
    font-size: 24px;
  }
}
/*テキスト関連*/
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
.txt-small {
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: .05rem;
}
.txt-large {
  font-size: 1rem;
}
.sub-title {
  margin-bottom: 28px;
}
.txt-box {
  border: 10px solid #F0F3F5;
  padding: 44px 60px 40px;
}
/* ボタン関連 */
.btn {
  display: block;
  padding: 11px 42px 13px;
  border-radius: 24px;
  margin: 0 auto;
  border: 2px solid #004BB1;
  transition: ease .2s;
  background: #004BB1;
  color: #fff;
  font-weight: bold;
}
.btn:hover, .btn:focus {
  background: #fff;
  cursor: pointer;
  border: 2px solid #004BB1;
  color: #004BB1;
}
/* .btn-secondary */
.btn-secondary {
  background-color: transparent;
  border: 2px solid #CDD6DD;
  color: #004BB1;
}
.btn-secondary:hover, .btn-secondary:focus {
  border: 2px solid #CDD6DD;
  color: #CDD6DD;
}
/*レイアウト関連*/
.l-content-fixed {
  padding: 0 30px;
  margin: 0 auto;
}
.l-content-expanded {
  width: auto;
  margin: 0 auto;
}
@media screen and (min-width:768px) {
  .l-content-fixed {
    max-width: 864px;
    padding: 0;
  }
}
.sp-only {
  display: block;
}
.pc-only {
  display: none;
}
@media screen and (min-width:768px) {
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
}
/*header*/
#header {
  width: 100%;
  height: 120px;
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 30px;
}
#g-nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1rem;
}
#g-nav ul li {
  margin-left: 40px;
}
#g-nav li a {
  font-weight: 400;
}
#g-nav span {
	display: block;
	font-size: .75rem;
	font-weight: 600;
    text-align: center;
	color: #004BB1;
    text-transform: capitalize;
	letter-spacing: .05em;
}
#g-nav li:hover {
	opacity: 0.4; 
}
#g-nav strong {
	font-weight: 400;
}
#header .btn-secondary {
  padding: 13px 26px 11px 26px;
}
.header-logo {
  width: 250px;
}
@media screen and (max-width:768px) {
  #header {
    height: 70px;
    padding: 18px 30px;
  }
}
/*　上に上がる動き　*/
#header.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
/*　下に下がる動き　*/
#header.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*===========================================================*/
/*クリックしたら円形背景が拡大（右下から）*/
/*===========================================================*/
/*========= ナビゲーションのためのCSS ===============*/
@media screen and (max-width:1300px) {
  /*アクティブになったエリア*/
  #g-nav.panelactive {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  /*丸の拡大*/
  .circle-bg {
    position: fixed;
    z-index: 3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #004BB1;
    /*丸のスタート位置と形状*/
    transform: scale(0); /*scaleをはじめは0に*/
    right: -50px;
    bottom: -50px;
    transition: all .6s; /*0.6秒かけてアニメーション*/
  }
  .circle-bg.circleactive {
    transform: scale(50); /*クラスが付与されたらscaleを拡大*/
  }
  /*ナビゲーションの縦スクロール*/
  #g-nav-list {
    display: none; /*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  #g-nav.panelactive #g-nav-list {
    display: block; /*クラスが付与されたら出現*/
  }
  /*ナビゲーション*/
  #g-nav ul {
    opacity: 0; /*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 255px;
  }
  /*背景が出現後にナビゲーションを表示*/
  #g-nav.panelactive ul {
    opacity: 1;
    display: block;
  }
  /* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
  #g-nav.panelactive ul li {
    animation-name: gnaviAnime;
    animation-duration: 1s;
    animation-delay: .2s; /*0.2 秒遅らせて出現*/
    animation-fill-mode: forwards;
    opacity: 0;
  }
  /*リストのレイアウト設定*/
  #g-nav ul li {
    text-align: center;
    list-style: none;
    margin: 0 0 20px 0;
  }
  #g-nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 18px;
  }
  #g-nav li:last-child {
    padding-top: 10px;
  }
}
@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===========================================================*/
/*3本線が×に*/
/*===========================================================*/
.openbtn {
  display: none;
}
@media screen and (max-width:1300px) {
  .openbtn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999; /*ボタンを最前面に*/
    cursor: pointer;
    width: 94px;
    height: 94px;
    background: #004BB1;
  }
  /*×に変化*/
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 23px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 33px;
  }
  .openbtn span:nth-of-type(2) {
    top: 46px;
  }
  .openbtn span:nth-of-type(3) {
    top: 58px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 41px;
    left: 28px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 52px;
    left: 28px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}
@media screen and (max-width:768px) {
  .openbtn {
    width: 70px;
    height: 70px;
  }
  /*×に変化*/
  .openbtn span {
    left: 17px;
  }
  .openbtn span:nth-of-type(1) {
    top: 20px;
  }
  .openbtn span:nth-of-type(2) {
    top: 33px;
  }
  .openbtn span:nth-of-type(3) {
    top: 45px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 28px;
    left: 22px;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 40px;
    left: 22px;
  }
}
#g-nav .btn-secondary {
  line-height: 18px;
  font-size: 16px;
  height: 48px;
}
/*sectionのスタイル*/
.mv-content {
  padding: 0 20px;
}
.mv-txt-b {
	margin-top: 30px;
	font-size: 24px;
    font-weight: bold;
    color: #004BB1;
}
.mv-txt h1 {
  margin:0 0 10px 0;
  font-size: 1.2rem;
  padding: 4rem 0 2rem 0;
}
@media screen and (min-width:768px) {
  .mv-content {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
  }
  .mv-content img {
    margin-right: 6em;
    max-width: 610px;
  }
.mv-txt-b {
	font-size: 2.2rem;
	letter-spacing: 3px;
}
  .mv-txt h1 {
    margin: 30px 0;
	letter-spacing: 3px;
  }
  .mv-txt .btn {
    margin-left: 0;
  }
}
#lead {
  padding-top: 72px;
  padding-bottom: 56px;
}
#lead .txt-small {
  margin-bottom: 1.75em;
}
#about {
  background: #F0F3F5;
}
#about h2 {
  padding-top: 70px;
}
.about-content {
  padding-bottom: 102px;
}
.about-content li {
  margin-bottom: 3rem;
}
.about-content li:last-child {
  margin-bottom: 0;
}
@media screen and (min-width:768px) {
  .about-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }
  .about-content li {
    margin-bottom: 0;
    width: 30%;
  }
  .about-content li:last-child {
    padding-right: 0;
  }
  .about-content h4 {
    margin: 20px 0 16px;
  }
}
.contact {
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.contact-btns .btn {
  padding-right: 26px;
  padding-left: 26px;
}
.thanks-column {
	text-align: center;
}
@media screen and (min-width:768px) {
  .contact {
    background: url("../img/bk.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
  }
  .contact-btns {
    justify-content: start;
  }
  .contact-btns .btn {
    margin-left: 0;
  }
  .contact-btns .btn:first-of-type {
    margin-right: 20px;
  }
}
#portfolio {
  padding-bottom: 60px;
}
.portfolio-content {
  display: flex;
  flex-direction: column;
}
.portfolio-area {
  padding: 20px 0;
}
.portfolio-area p {
  display: inline-block;
  margin: 0 0 12px;
  padding: 5px 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  background: #000;
  border-radius: 50px;
}
.btn-portfolio-area {
	margin-left: 0;
}
.portfolio-item img {
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}
@media screen and (min-width:768px) {
  #portfolio {
    margin-top: 94px;
  }
  .portfolio-content {
    flex-direction: row;
  }
  .portfolio-item {
    flex: 1;
    justify-content: space-between;
    margin-right: 40px;
  }
  .portfolio-item:last-child {
    margin-right: 0;
  }
}
#works {
  padding-bottom: 60px;
}
.works-content {
  display: flex;
  flex-direction: column;
}
.works-area {
  margin-bottom: 3rem;
  padding: 33px 45px 42px;
  background: #CDD6DD;
}
.works-area h3 {
  margin-bottom: 1rem;
  font-size: 18px;
}
.btn-works-area {
	margin-left: 0;
}
@media screen and (min-width:768px) {
  #works {
    margin-top: 94px;
  }
  .works-content {
    flex-direction: row;
  }
  .works-item {
    flex: 1;
    justify-content: space-between;
    margin-right: 40px;
  }
  .works-item:last-child {
    margin-right: 0;
  }
}
.plan-content {
  display: flex;
  flex-direction: column;
  background: #F0F3F5;
  padding: 40px;
}
.plan-sp {
  display: flex;
}
.plan-sp img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
  border-radius: 50%;
}
.plan-title span {
  color: #707F89;
  display: block;
}
.plan-info .txt-small {
  margin-top: 14px;
}
.plan-item {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
}
.plan-item .price {
  margin: auto 0 20px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #CDD6DD;
  color: #004BB1;
  display: block;
  padding: 6px;
  border-radius: 24px;
  transition: ease .2s;
  font-weight: bold;
  text-align: center;
}
#plan {
  padding-bottom: 60px;
}
@media screen and (min-width:768px) {
  .plan-content {
    flex-direction: row;
    padding: 52px 0 52px;
    width: 100%;
    margin: 0 auto 90px;
    justify-content: space-between;
  }
  .plan-item {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-bottom: none;
    border-right: 2px solid #fff;
    width: calc(100% / 3);
    margin-bottom: 0;
  }
  .plan-item:last-child {
    border-right: none;
  }
  .plan-sp img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  .plan-title {
    padding-top: 2.25rem;
    padding-bottom: 1.875rem;
    margin-bottom: 0;
  }
  .plan-title .txt-small {
    margin-top: 3px;
    line-height: 1;
  }
  .plan-info .txt-small {
    margin-top: 0;
  }
  .plan-item .price {
    margin-bottom: 0;
  }
}
.footer {
  background-color: #F0F3F5;
}
.footer-info img {
	width: 80%;
}
.footer-info p {
	font-size: 0.75rem;
}
.footer-content {
  padding: 34px 30px 40px;
}
.footer-contact {
  padding-bottom: 40px;
}
.footer-contact h3 {
  font-size: 18px;
  font-weight: normal;
}
.footer-contact-mail {
  position: relative;
}
.footer-contact-mail input[type="email"] {
  padding: 12px 20px;
  width: calc(100% - 100px);
  height: 50px;
  border: 1px solid #CDD6DD;
  border-right: none;
  -webkit-appearance: none;
  border-radius: 0;
}
.footer-contact-mail input[type="submit"] {
  margin: 0;
  padding: 11px 18px 14px;
  border: none;
  height: 50px;
  font-weight: bold;
  background: #004BB1;
  color: #fff;
  vertical-align: bottom;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}
.footer-contact-mail {
  margin-top: 10px;
}
.footer-info address {
  font-size: 12px;
  margin-top: 18px;
}
.footer-menu {
  background: #3B4043;
  padding: 25px 30px 25px 14px;
  color: #fff;
  position: relative;
}
.footer-nav ul li {
  display: inline-block;
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.5rem;
  border-right: 2px solid #fff;
  line-height: 1;
  font-size: 12px;
}
.footer-nav ul li a {
  color: #fff;
}
.footer-nav ul li:last-child {
  border-right: none;
}
.footer-menu-social {
  margin-top: 1rem;
}
.footer-menu-social, small {
  padding-left: 1rem;
}
.footer-menu-social ul li {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 28px;
}
.footer-info {
	text-align: center;
	}
.footer-bana {
	width: 300px;
	margin: 20px auto 0;
}
.footer-bana p {
	text-align: center;
	font-size: 0.75rem;
}

#page-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid #98A6B5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("../img/Icon - ArrowUp.png") no-repeat center center;
}
@media screen and (min-width:768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 4.125rem 2.25rem;
  }
  .footer-contact {
    padding-bottom: 0;
  }
  .footer-contact input[type="email"] {
    width: 300px;
  }
  .footer-nav ul li:first-child {
    padding-left: 3.125rem;
  }
  .footer-menu-social, small {
    padding-left: 3.125rem;
  }
	.footer-info {
	text-align: left;
	}
	.footer-info p {
	line-height: 2rem;
}
  .footer-bana {
    width: 300px;
    margin: 0;
}
}
/*about(#page)*/
/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
}
.tab li a {
  display: block;
  margin: 0 2px;
  padding: 10px 10px;
  color: #004BB1;
}
.tab li a.first-item {
  padding-left: 0;
}
.tab li a:hover {
  opacity: 0.7;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a {
  border-bottom: 4px solid #707F89;
}
/*エリアの表示非表示と形状*/
.area {
  display: none; /*はじめは非表示*/
  opacity: 0; /*透過0*/
  background: #fff;
  padding: 72px 0;
}
/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block; /*表示*/
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.area h2 {
  position: relative;
  font-size: 1.5rem;
}
.area h2:before {
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 60px;
  height: 2px;
  content: '';
  background: #CDD6DD;
}
.area h3 {
  color: #707F89;
  padding-top: 53px;
}
.area .txt-large {
  padding-bottom: 37px;
}
.area .txt-box {
  margin-top: 56px;
  margin-bottom: 74px;
  text-align: justify;
}
.about-list {
  list-style: disc;
  margin-left: 30px;
}
.about-list li {
  line-height: 1.875;
  margin-bottom: 12px;
}
#company .table-list, #service .table-list {
  border-top: 2px solid #98A6B5;
}
#company .table-list, #company .table-list tr, #company .table-list th, #company .table-list td {
  display: block;
}
#service .table-list, #service .table-list tr, #service .table-list th, #service .table-list td {
  display: block;
}
#company .table-list tr, #service .table-list tr {
  padding: 28px 0;
  text-align: left;
  border-bottom: 1px solid #CDD6DD;
}
#company .table-list th, #service .table-list th {
  font-size: 18px;
  color: #707F89;
  line-height: 1.875;
  font-weight: normal;
}
#company .table-list td, #service .table-list td {
  font-size: 1rem;
  color: #3B4043;
}
#company figure {
  margin-top: 78px;
}
#company figure img {
  margin-bottom: 1rem;
}
@media screen and (min-width:768px) {
  .area {
    padding-bottom: 100px;
  }
  .tab li a {
    display: block;
    margin: 0 2px;
    padding: 10px 20px;
    color: #004BB1;
  }
  #company .table-list, #service .table-list {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  #company .table-list tr, #service .table-list tr {
    display: table-row;
  }
  #company .table-list th, #company .table-list td, #service .table-list th, #service .table-list td {
    display: table-cell;
    padding: 1rem 0;
  }
  #company figure {
    margin-top: 94px;
  }
}
/*works(#page)*/
.page-works h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
	.page-works-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
.page-works {
  padding: 0 20px;
}
.works-box-small {
  width: 100%;
  height: 380px;
  margin: 0 auto 20px;
  overflow: hidden;
}
.works-box-txt {
  padding: 10px 35px 30px;
  background: #F0F3F5;
}
.works-box-txt h2 {
  font-size: 18px;
}
.works-box-large {
  display: flex;
  flex-flow: column;
  width: 100%;
  background: #F0F3F5;
  margin-bottom: 20px;
}
.works-box-large img {
	width: 100%;
}
@media screen and (min-width:768px) {
  .works-wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 72px;
  }
  .page-works h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 1.5rem;
  }
	.page-works-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
  .works-container {
    display: flex;
    flex-wrap: wrap;
  }
  .works-box-small {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .works-box-large {
    flex-flow: row;
    width: 820px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
.works-box-large img {
	width: 51%;
}
}
/*about(#page)*/
.page-about h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
	.page-about-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
@media screen and (min-width:768px) {
	.page-about h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 1.5rem;
  }
	.page-about-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
}
/*flow(#page)*/
.page-flow {
  padding: 0 20px;
}
.page-flow h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
	.page-flow-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
.flow-column {
  display: flex;
  margin-bottom: 20px;
}
.flow-column img {
  width: 24px;
  height: 100%;
  margin-right: 10px;
}
.flow-txt h2 {
  color: #707F89;
  margin-bottom: 5px;
}
.flow-txt h2 span {
  display: block;
  letter-spacing: .05rem;
}
.flow-txt .txt-small {
  color: #3B4043;
  list-style: 1.6;
  font-weight: 400;
}
@media screen and (min-width:768px) {
	.page-flow h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 1.5rem;
  }
	.page-flow-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
  .flow-wrapper {
    max-width: 888px;
    margin: 0 auto;
    padding-bottom: 72px;
  }
  .flow-column {
    margin-bottom: 40px;
  }
  .flow-column img {
    width: 2.5rem;
    height: 100%;
    margin-right: 20px;
  }
}
/*contact(#page)*/
.page-contact h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
	.page-contact-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
.contact-wrapper form {
  padding-bottom: 55px;
}
.textfield_label, .radio_label {
  display: block;
}
input[type="text"], input[type="tel"], input[type="email"], textarea, select {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #CDD6DD;
  height: 50px;
  padding: 12px 0 14px 20px;
}
.form-group {
  margin-bottom: 40px;
}
.form-submit {
  margin-bottom: 40px;
  text-align: center;
}
.form-label {
	margin-left: 0.5rem;
}
.textfield_label, .radio_label {
  color: #707F89;
  font-weight: bold;
}
.radio {
  display: block;
}
.btn-form {
  width: 100%;
  height: 48px;
}
.form-group textarea {
  height: 140px;
}
.form-check {
  padding-bottom: 30px;
}
.checkbox-label {
  font-size: 12px;
}
.checkbox-label a {
  text-decoration: underline;
}
.form-privacy {
    margin-bottom: 20px;
    text-align: center;
}
.form-privacy a {
	color: #004BB1;
}
.privacy-li li {
	position: relative;
    margin-top: 0.75rem;
    padding-left: 1.5rem;
    line-height: 1.6;
}
.privacy-li li::before {
	position: absolute;
    top: 0.35rem;
    left: 0.4rem;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #004BB1;
    border-radius: 50%;
    content: "";
}
.textfield_label .form-required {
		margin-left: 0.5rem;
	}
.form-required {
    padding: 0.1rem 0.5rem;
    color: #fff;
    font-weight: 700;
    font-size: .6875rem;
    background-color: #004BB1;
    border-radius: 9999px;
	}
.form-privacy-sizu {
	font-size: 0.8rem;
	font-weight: bold;
}
.Form-zip-Input {
  width: 40% !important;
  margin-bottom: 10px;
}

@media screen and (min-width:768px) {
	.page-contact h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 1.5rem;
  }
	.page-contact-en {
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #004BB1;
  }
  .contact-wrapper {
    max-width: 24rem;
    margin: 0 auto;
  }
  .textfield_label, .radio_label {
    display: block;
    vertical-align: top;
  }
  input[type="text"], input[type="tel"], input[type="email"], textarea, select {
    width: 24rem;
  }
  .Form-zip-Input {
    width: 40% !important;
    margin-bottom: 10px;
  }
  .radio-group {
    display: block;
  }
  .btn-form, .form-check {
    width: 272px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
	.textfield_label .form-required {
		margin-left: 0.5rem;
	}
  .form-required {
    padding: 0.1rem 0.5rem;
    color: #fff;
    font-weight: 700;
    font-size: .6875rem;
    background-color: #004BB1;
    border-radius: 9999px;
	}
	.form-privacy-sizu {
	font-size: 1rem;
	font-weight: bold;
}
}
/* チェックボックス */
input[type=checkbox] {
  opacity: 0;
}
.wpcf7-list-item-label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0 40px 20px;
  position: relative;
  width: auto;
}
.wpcf7-list-item-label::before {
  background: #fff;
    border: 1px solid #CDD6DD;
    border-radius: 50%;
    content: '';
    display: block;
    height: 30px;
    left: 0;
    margin-top: -7px;
    position: absolute;
    top: 18%;
    width: 30px;
}
.wpcf7-list-item-label::after {
  background: #004BB1;
    border-radius: 50%;
    content: '';
    display: block;
    height: 18px;
    left: 6px;
    margin-top: -1px;
    opacity: 0;
    position: absolute;
    top: 18%;
    width: 18px;
}
input[type=checkbox]:checked + .wpcf7-list-item-label::after {
  opacity: 1;
}
/* ラジオボタン */
input[type=radio] {
  display: none;
}
.radio01 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 40px;
  position: relative;
  width: auto;
  margin-left: 70px;
}
.radio01::before {
  background: #fff;
  border: 1px solid #CDD6DD;
  border-radius: 50%;
  content: '';
  display: block;
  height: 30px;
  left: 0;
  margin-top: -16px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.radio01::after {
  background: #004BB1;
  border-radius: 50%;
  content: '';
  display: block;
  height: 18px;
  left: 6px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 18px;
}
input[type=radio]:checked + .radio01::after {
  opacity: 1;
}
.fieldset_form {
    border: none;
}
/*==================================================
確認ページ
===================================*/
#wpcf7cpcnf table {
    margin: 0 auto;
    border: none;
}
#wpcf7cpcnf table th {
    background-color: #004BB1;
    border: 1px solid #ccc;
    color: #fff;
    text-align: center;
    padding: 20px;
}
#wpcf7cpcnf table td {
    padding: 20px;
}

/* ボタン */
#wpcf7cpcnf button {
    padding: 11px 42px 13px;
    border-radius: 24px;
    border: 2px solid #004BB1;
    transition: ease .2s;
    background: #004BB1;
    color: #fff;
    font-weight: bold;
}
.wpcf7cp-btns {
	text-align: center;
}
/*==================================================
ふわっ
===================================*/
/* fadeUp */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

/* 滑らかに変形して出現 */
.smooth{
	animation-name:smoothAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
  transform-origin:left;
	opacity:0;
}

@keyframes smoothAnime{
  from {
  transform:translate3d(0, 100%, 0) skewY(12deg);
  opacity:0;
  }

  to {
  transform:translate3d(0, 0, 0) skewY(0);
  opacity:1;
  }
}
/* 拡大 */
.zoomIn{
	animation-name:zoomInAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
	transform: scale(0.6);
  }

  to {
      transform: scale(1);
  }
}

/* 追加20221128お知らせ */
/* table */
.table-list {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.table-list td, .table-list th {
  /* border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; */
  padding: 1em 0.8em;
}
.table-list-col-type {
  width: 7em;
}
.table-list-col-date {
  width: 8em;
}
.table-list-col-headline {
  width: 12em;
}
.table-list-icon {
  display: inline-block;
  width: 6em;
  padding: 0.2em 1.2em;
  border-radius: 1em;
  background-color: #C5A77A;
  color: white;
  font-family: "Noto+Sans+JP", sans-serif;
  font-size: .875rem;
  font-weight: bold;
  text-align: center;
}
.table-list-icon ul li a {
  color: #fff;
}
.table-list-date time {
  font-weight: bold;
  font-family: "Noto+Sans+JP", sans-serif;
  color: #999;
}
.table-list-link a {
  color: #333;
}
.pdf_area {
  width: 60px;
}
#news {
  position: relative;
  padding-top: 0;
  padding-bottom: 60px;
}
@media screen and (min-width:768px) {
  .table-list td, .table-list th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 1em 0.8em;
}
}
@media (max-width: 960px) {
.table-list {
    width: 90%;
    margin: 0 auto;
}
.section-news-list td, .section-news-list th {
  display: block;
  border: none;
}
.section-news-list .table-list-col-data, .section-news-list .table-list-col-date, .section-news-list .table-list-col-type {
  width: 100%;
}
}